/* Font link add using Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* Resetting default browser styles using Universal Selector*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font add */
body {
    font-family: Azeret Mono;
}

/* Nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px;
}

nav h1 {
    font-size: 28px;
    font-weight: 800;
    color: rgb(13, 19, 33);
}

nav button {
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(13, 19, 33);
    align-items: center;
    text-align: center;
    padding: 17px 24px 17px 24px;
    opacity: 0.8;
}

/* Banner styles */
.banner-container {
    width: 1440px;
    min-height: 652px;
    margin: 50px auto;
    background-image: url(./images/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 998px;
    height: 582px;
    align-items: center;
    margin: 26px auto;
}


.banner-content img {
    width: 240px;
    height: 240px;
}

.illustration {
    margin-top: 26px;
    margin-bottom: 32px;
}

.banner-content h3 {
    font-size: 48px;
    font-weight: 800;
    color: rgb(13, 19, 33);
    text-align: center;
    margin-bottom: 24px;
}

.banner-content p {
    font-size: 16px;
    font-weight: 400;
    color: rgb(13, 19, 33);
    opacity: 0.7;
    text-align: center;
    margin-bottom: 32px;
}

.banner-content button {
    width: 208px;
    height: 66px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 21px 24px 21px 24px;
}

/* Why web development section styles */
.why-webdev {
    width: 1140px;
    height: 1395px;
    margin: 74px auto;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.section-title {
    margin-top: 80px;
    margin-bottom: 24px;
    width: 852px;
    height: 39px;
}

.section-title h2 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.section-desc {
    margin-bottom: 48px;
    width: 852px;
    height: 52px;
}

.section-desc p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;
}

/* Why web-dev container styles */
.why-webdev-container-1 {
    width: 946px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.leftside {
    margin-left: 48px;
    width: 468px;
    align-items: center;
}

.leftside h2 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 16px;
}

.leftside p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    opacity: 0.7;
    margin-bottom: 32px;
}

.leftside button {
    width: 150px;
    height: 48px;
    border: 1px solid rgb(13, 19, 33);
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    opacity: 0.7;
    padding: 12px 20px 12px 20px;
}

.rightside {
    width: 259.56px;
    height: 217.01px;
}

.why-webdev-container-2 {
    width: 946px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(-90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.leftside {
    margin-right: 110px;
    align-items: center;
}

.rightside {
    width: 223.2px;
    height: 208.85px;
    margin-left: 48px;
}

.why-webdev-container-3 {
    width: 946px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

/* My inspiration section styles */
.my-inspiration,
.my-current-target,
.my-next-target {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 88px;
}

.youtube-video {
    height: 614px;
    padding: 32px;
    margin: 10px 0px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    align-items: center;
}

/* My Current target Section styles */
.my-current-target {
    margin-top: 149px;
}

.programming-languages h2 {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    text-align: left;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 8px;
}

.programming-languages p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    opacity: 0.7;
    margin-top: 40px;
    margin-left: 40px;
}

.programming-languages a {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
}

.programming-languages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 48px auto;
}

.html,
.css,
.javascript {
    width: 364px;
    height: 300px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: content;
}

.css {
    background: rgba(0, 76, 232, 0.05);
}

.javascript {
    background: rgba(255, 223, 0, 0.05);
}

.html-icon,
.css-icon,
.javascript-icon {
    width: 39.68px;
    height: 56px;
    margin-top: 40px;
    margin-left: 40px;
}

/* Support section styles */
.support-container {
    width: 1140px;
    height: 313px;
    margin: 50px auto;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2);
    background-image: url(./images/handshake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.support-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.support-content h2 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
}

.support-content p {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;
    width: 606px;
    margin-bottom: 24px;
}

/* Form style */
#suggest-form {
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 548px;
    height: 57px;
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding: 19px 20px 19px 20px;
}

.submit-btn {
    border-radius: 8px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    background: rgb(255, 255, 255);
    width: 120px;
    height: 57px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 17px 20px 17px 20px;
}
